body{
    overflow: hidden;
    background-color: #007EC0;
}

th, td {
    text-align: center;
}

.status{
    position: absolute;
    height: 200px;
    width: 50%;
    top: 0;
    padding: 4px;
    color: white;
}

.statusLeft{
    left: 0;
    text-align: left;

}

.statusRight{
    right: 0;
    text-align: right;
}