body{
    overflow: hidden;
    background-color: #007EC0;
    font-family: "monospace",sans-serif;
}

h1,h2,h3,h4{
    font-family: "monospace",sans-serif;
}

th, td {
    text-align: center;
}

.status{
    position: absolute;
    height: 200px;
    width: 50%;
    top: 8px;
    padding: 4px;
    color: white;
}

.statusLeft{
    left: 8px;
    text-align: left;

}

.statusRight{
    right: 8px;
    text-align: right;
}